* {
    margin: 0;
    padding: 0;
}

:root {
    interpolate-size: allow-keywords;
}

body {
    overflow-x: hidden;
    font-family: sans-serif;
    position: relative;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 100;
    min-width: 0;
    overflow-wrap: anywhere;
}

.header span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linear-direction {
    background: linear-gradient(to right, rgb(89, 34, 208), rgb(234, 34, 34));
}

.language {
    border-radius: 5px;
    height: auto;
    width: 100px;
    padding: 10px;
    font-size: medium;
    background: rgba(255, 255, 255, 0.05);
    color: white;
    backdrop-filter: blur(0.5px);
    border: 1px solid rgba(153, 149, 149, 0.834);
}

.language option::selection {
    background-color: gray;
    color: white;
}

.language option {
    background-color: white;
    color: black;
}

#signin {
    border-radius: 5px;
    height: auto;
    width: 100px;
    font-size: medium;
    background-color: red;
    color: white;
    border: 0px;
}

.main {
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1350px, 100vw);
    height: 750px;
    position: relative;
}

.main .bg-box {
    height: 700px;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .box-content {
    height: 700px;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.box-content h1 {
    font-size: 60px;
}

.con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 0;
    overflow-wrap: anywhere;
}

.con h1 {
    width: 600px;
    margin-top: 80px;
    padding: 10px;
}

.con h3 {
    margin-top: 10px;
    margin-bottom: 15px;
}

.con h4 {
    margin: 20px;
}

.area {
    display: flex;
    gap: 10px;
}

.area .email {
    border-radius: 5px;
    height: 35px;
    width: 250px;
    padding: 10px 10px 10px 15px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.05);
    color: gainsboro;

    box-shadow:
        inset 0 1px 2px rgba(255, 255, 255, 0.4),
        inset 0 -10px 20px rgba(255, 255, 255, 0.05),
        0 30px 40px rgba(0, 0, 0, 0.3);

    backdrop-filter: blur(8px);
    border: 1px solid rgba(153, 149, 149, 0.834);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.area .email input {
    width: 95%;
    display: none;
    background: transparent;
    border: 0;
    color: white;
}

.area .email input.active {
    display: flex;
}

.area .email label.active {
    font-size: 12px;
    padding-bottom: 5px;
}

.area .try {
    height: 57px;
    width: 270px;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
    color: white;
    border: 0px;
    font-size: 22px;
    font-weight: bold;
}

.main nav {
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px;
    position: relative;
    z-index: 10;
}

.main nav div {
    width: auto;
    height: auto;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.main nav div button {
    width: auto;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curveContainer {
    width: 100vw;
    height: 108px;
    position: absolute;
    bottom: -45px;
}

.curve {
    width: 98.5vw;
    height: 115px;
    border-radius: 50%;
    border-left: 10px;
    border-right: 10px;
    position: absolute;
    box-shadow: 0 0 20px 30px rgba(0, 0, 0, 0.5);
}

.curveBg {
    width: 98.5vw;
    height: 115px;
    background: linear-gradient(to right, rgb(43, 56, 72), rgb(89, 0, 255));
    border: 4px solid red;
    border-radius: 50%;
    position: absolute;
    box-shadow: inset 0 0 20px 1115px rgba(0, 0, 0, 0.6);
}

.blur-box-left {
    width: 50vw;
    height: 108px;
    position: absolute;
    left: 0px;
    background: linear-gradient(to left, rgba(124, 119, 119, 0.219), black);
    opacity: 0.9;
    z-index: 1;
}

.blur-box-right {
    width: 50vw;
    height: 108px;
    position: absolute;
    right: 0px;
    background: linear-gradient(to right, rgba(124, 119, 119, 0.219), black);
    opacity: 0.9;
    z-index: 1;
}

.generic {
    width: 100vw;
    height: auto;
    background-color: black;
    position: relative;
    color: white;
    z-index: 2;
    box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.9);
}

.generic .allHeader {
    max-width: 80vw;
    display: flex;
    margin: auto;
}

.generic .showGroup {
    display: flex;
    height: 350px;
    position: relative;
}

.generic .shows {
    display: flex;
    max-width: 75vw;
    height: 300px;
    margin: auto;
    padding: 30px;
    gap: 45px;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.show {
    height: 240px;
    transform: scale(1);
    transition: 0.2s transform ease-in-out;
}

.show:hover {
    transform: scale(1.05);
}

.show h1 {
    font-size: 100px;
    position: absolute;
    bottom: -5px;
    left: -25px;
    color: black;
    -webkit-text-stroke: 1.5px white;
}

.show img {
    width: auto;
    height: 250px;
    border-radius: 10px;
}

.generic button {
    height: 120px;
    width: 25px;
    background-color: rgb(26, 25, 25);
    border: 0px;
    border-radius: 8px;
    font-size: 24px;
    color: gainsboro;
    z-index: 1;
}

.generic button:hover {
    background-color: rgb(51, 49, 49);
}

#trendLeft {
    position: absolute;
    top: 30%;
    left: 8%;
}

#trendRight {
    position: absolute;
    top: 30%;
    right: 8%;
}

.generic .reasons {
    display: flex;
    flex-direction: row;
    max-width: 80vw;
    height: auto;
    margin: auto;
    padding: 30px;
    gap: 20px;
}

.reasons .reason {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 250px;
    width: 25%;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(to bottom right, rgba(7, 7, 136, 0.455), rgba(128, 0, 128, 0.258));
}

.reason h2,
h4 {
    margin-top: 15px;
}

.reason h4 {
    color: rgb(173, 169, 169);
}

.reason .imageHolder {
    height: 90px;
    width: 100%;
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.imageHolder .profile {
    position: relative;
}

.imageHolder #profile1 {
    position: absolute;
    right: 28px;
    bottom: 28px;
}

.imageHolder #profile2 {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#quesHead {
    padding-top: 30px;
}

.questions {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    margin: auto;
    padding: 30px;
    gap: 10px;
}

.question {
    display: flex;
    flex-direction: column;
    background-color: rgba(58, 56, 56, 0.779);
    overflow: hidden;
    font-size: 24px;
}

.quesHead {
    display: flex;
    justify-content: space-between;
    padding: 30px 25px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    border: 0.5px solid black;
}

.quesHead:hover {
    background-color: rgba(58, 56, 56, 1);
}

.quesHead img {
    transform: rotate(0deg);
    transition: all 0.2s ease-in-out;
}

.question .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
}

.answer p {
    padding: 25px;
    margin: 0;
}

.question.active .answer {
    max-height: fit-content;
}

.question.active .quesHead img {
    transform: rotate(-45deg);
}

.footer {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    margin: auto;
}

.feedback {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.center {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.center .email {
    border-radius: 5px;
    height: 35px;
    width: 30vw;
    padding: 10px 10px 10px 15px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.05);
    color: gainsboro;

    backdrop-filter: blur(8px);
    border: 1px solid rgba(153, 149, 149, 0.834);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.center .email input {
    width: 95%;
    display: none;
    background: transparent;
    border: 0;
    color: white;
}

.center .email input.active {
    display: flex;
}

.center .email label.active {
    font-size: 12px;
    padding-bottom: 5px;
}

.center .try {
    height: 57px;
    width: 270px;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
    color: white;
    border: 0px;
    font-size: 22px;
    font-weight: bold;
}

.sizeAndColor {
    color: rgb(173, 169, 169);
    margin: 10px;
}

.extraSpace {
    margin-top: 30px;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px 0px 10px 0px;
    font-size: 14px;
}

li a {
    color: gray;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 200;
}

#overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.cardOverlay {
    position: absolute;
    height: 90vh;
    max-width: 650px;
    min-width: none;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    border-radius: 10px;
    z-index: 210;
    gap: 20px;
    overflow-y: auto;
}

.cardOverlay img {
    width: 100%;
    height: 300px;
}

.cardOverlay h2 {
    margin-left: 40px;
    margin-right: 60px;
}

.cardOverlay .genres {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 40px;
    margin-right: 60px;
}

.genres h4 {
    border-radius: 5px;
    background-color: rgb(50, 48, 48);
    padding: 5px;
    color: rgb(169, 166, 166);
}

.cardOverlay .try {
    height: 50px;
    width: 240px;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
    color: white;
    border: 0px;
    font-size: 22px;
    margin-left: 40px;
    margin-right: 60px;
}

.cardOverlay p, h5 {
    margin-left: 40px;
    margin-right: 60px;
}

#cross {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: transparent;
    transition: all 0.3s ease-out;
    border-radius: 50px;
}

#cross:hover {
    background-color: rgba(128, 128, 128, 0.641);
}

#cross img {
    height: 24px;
    width: 24px;
    transform: rotate(45deg);
    margin: 5px;
}

@media (max-width: 1280px) {
    .generic .reasons {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .reasons .reason {
        height: 200px;
        width: 95%;
    }

    .info {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 960px) {
    .main nav {
        max-width: 90vw;
    }

    .generic .allHeader {
        max-width: 90vw;
    }

    .generic .shows {
        max-width: 85vw;
    }

    .generic .reasons {
        display: flex;
        flex-direction: column;
        max-width: 90vw;
    }

    .reasons .reason {
        height: 150px;
        width: 96.5%;
    }

    .questions {
        max-width: 90vw;
    }

    .footer {
        max-width: 90vw;
    }

    .con h1 {
        width: auto;
    }

    .area {
        flex-direction: column;
    }

    .area .email {
        width: 95%;
    }

    .center {
        flex-direction: column;
    }

    .center .email {
        width: 95%;
    }

    .info {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .info {
        grid-template-columns: 1fr;
    }

    .reason {
        max-height: fit-content;
    }

    .reason .imageHolder {
        position: relative;
        right: 0;
        bottom: 0;
    }
}

@media (max-width: 380px) {
    .main nav {
        flex-direction: column;
        align-items: start;
    }

    .con {
        overflow-wrap: unset;
    }

    .area .email {
        width: auto;
    }

    .area .try {
        width: auto;
        height: auto;
    }

    .center .email {
        width: auto;
    }

    .center .try {
        width: auto;
        height: auto;
    }
}